form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

fieldset {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid hsl(var(--foreground-color));
}

legend {
    font-size: 1.3em;
    padding: 0 10px 0 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, select {
    box-sizing: border-box;
    width: 100%; 
    padding: 8px;
    margin-bottom: 25px;
    z-index: 100;
    color: hsl(var(--foreground-color));
    font-family: "Jersey 10", sans-serif;
    border-radius: 0;
    background-color: hsla(112, 100%, 5%, 1);
    box-shadow: inset 2px 0px 0px var(--shade-color), inset 0px 2px 0px var(--shade-color);
    border: 2px solid hsl(var(--foreground-color));
    font-size: 1em;
}

textarea {
    resize: vertical;
    max-height: 150px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

input[type="button"] {
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: hsl(var(--foreground-color));
    color: hsl(var(--background-color));
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.3em;
}

th {
    font-weight: normal;
    letter-spacing: 2px;
}

th, td {
    border: 2px solid hsl(var(--foreground-color));
    padding: 0 5px;
}

th:nth-child(1) {
    width: 20%;
}

th:nth-child(2) {
    width: 20%;
}

th:nth-child(3) {
    width: 10%;
}

th:nth-child(4) {
    width: 20%;
}

th:nth-child(5) {
    width: 30%;
}

dialog {
    border: 2px solid hsl(var(--foreground-color));
    color: hsl(var(--foreground-color));
    background-color: hsl(var(--background-color));
    width: 500px;
}

dialog h3 {
    font-size: 1.7em;
    margin-top: 0;
    font-weight: 400;
}

dialog button {
    text-decoration: none;
    color: hsl(var(--foreground-color));
    background-color: hsl(var(--background-color));
    border: 2px solid hsl(var(--foreground-color));
    padding: 5px 10px;
    width: 78px;
    font-family: "Jersey 10", sans-serif;
    font-size: 1.3em;
    cursor: pointer;
    
    display: block;
    margin-left: auto;
}

dialog button:hover {
    background-color: hsl(var(--foreground-color));
    color: hsl(var(--background-color));    
}